body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    height: 70px;
    background-color: #DBA901;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: #000000
}

.logo-nombre:hover {
    color: #000000
}

.botones {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

.container {
    padding-top: 40px;
}

.row {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.crear {
    text-align: center;
    background-color: #DBA901;
}

.quienes-somos {
    text-align: center;
    background-color: #DBA901;
}

section {
    background-color: #c9c9c9;
    display: flexbox;
}

footer {
    color: rgb(0, 0, 0);
}

.pie {
    width: 100%;
    background-color: #000000;
}

.pie .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    color: white;
}

.pie .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie .grupo-1 .box figure img {
    width: 250px;
}

.pie .grupo-1 .box h2 {
    color: #DBA901;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie .grupo-1 .box p {
    color: #ffffff;
    margin-bottom: 10px;

}

.pie .grupo-1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 35px;
}

.pie .grupo-1 .box .red-social a:hover {
    color: aqua;
}

.pie .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: white;
}

.pie .grupo-2 small {
    font-size: 15px;
}